ChessOnlineWebAPI/ChessOnlineWebAPI/Connected Services/AuthenticationServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AuthenticationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AuthenticationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/AuthenticationService/AuthenticationService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AuthenticationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultType" type="tns:AuthenticationFault.AuthenticationFaultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationFault" nillable="true" type="tns:AuthenticationFault" />
  <xs:simpleType name="AuthenticationFault.AuthenticationFaultType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NoSuchUser">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="InvalidPassword">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ServerFault">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="AuthenticationFault.AuthenticationFaultType" nillable="true" type="tns:AuthenticationFault.AuthenticationFaultType" />
</xs:schema>